<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Login - Estoque</title>
  <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body>
  <div class="container" >
    <div class="formulario">      
      <div id="login">
        <form method="post" action=""> 
          <h1>Login</h1> 
          <p> 
            <label for="eLogin">Seu e-mail</label>
            <input id="eLogin" name="emLogin" required type="email_user"  placeholder="digite seu e-mail" /> 
          </p>
           
          <p> 
            <label for="sLogin">Seu nome</label>
            <input id="sLogin" name="senha_user" required type="password" placeholder="digite sua senha"/>
          </p>
           

          <p> 
            <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
            <label for="manterlogado">Manter-me logado</label>
          </p>
           
          <p> 
            
             <a id="bLogar" href="inicio.html">Logar</a>
          </p>
           
          <p class="link">
            Ainda não tem conta?
            <a href="cadastro.html">Cadastre-se</a>
          </p>
        </form>
      </div>
    </div>
  </div>  
</body>
</html>